@{
  ViewData["Title"] = "Modelos";
}

<h1>Modelos de autos en el sistema</h1>
<br />
<br />
<div id="testVue">
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>MARCA</th>
        <th>MODELO</th>
        <th>DESCRIPCIÓN</th>
        <th>ACCIÓN</th>
      </tr>
    </thead>
    <tr>
      <td></td>
      <td>
        <select v-model="newModelo.marca">
          <option v-for="marca in marcas" v-bind:value="marca.id"> {{ marca.nombre }}</option>
        </select>
      </td>
      <td><input v-model="newModelo.nombre" /></td>
      <td><input v-model="newModelo.descripcion" v-on:keyup.enter="agregarModelo(newModelo)" /></td>
      <td>
        <button class="btn btn-primary" v-on:click="agregarModelo(newModelo)">Agregar</button>
        <button class="btn btn-secondary">Cancelar</button>
      </td>
    </tr>
    <tbody v-for="modelo in modelos">
      <tr>
        <td> {{ modelo.id }}</td>
        <td> {{ modelo.marca }}</td>
        <td> {{ modelo.nombre }}</td>
        <td> {{ modelo.descripcion }}</td>
        <td>
          <button class="btn btn-outline-secondary">Editar</button>
          <button class="btn btn-outline-primary">Detalles</button>
          <button class="btn btn-outline-danger" v-on:click="deleteModelo(modelo.id)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>