@{
  ViewData["Title"] = "Autos";
}

<h1>Autos en el sistema</h1>
<br />
<br />
<div id="testVue">
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>PRECIO</th>
        <th>MARCA</th>
        <th>MODELO</th>
        <th>FECHA DE ADQUISICION</th>
        <th>ACCIÓN</th>
      </tr>
    </thead>
    <tr>
      <td></td>
      <td><input v-model="newAuto.precio" type="number" /></td>
      <td>
        <select v-model="newAuto.marca">
          <option v-for="marca in marcas" v-bind:value="marca.nombre"> {{ marca.nombre }}</option>
        </select>
      </td>
      <td>
        <select v-model="newAuto.modelo">
          <option v-for="modelo in modelosFiltrados()" v-bind:value="modelo.id">
            {{ modelo.nombre }}
          </option>
        </select>
      </td>
      <td></td>
      <td>
        <button class="btn btn-primary" v-on:click="agregarAuto(newAuto)">Agregar</button>
        <button class="btn btn-secondary">Cancelar</button>
      </td>
    </tr>
    <tbody v-for="auto in autos">
      <tr>
        <td> {{ auto.id }}</td>
        <td> {{ auto.precio }}</td>
        <td> {{ auto.marca }}</td>
        <td> {{ auto.modelo }}</td>
        <td> {{ auto.fecha_adquisicion }}</td>
        <td>
          <button class="btn btn-outline-secondary">Editar</button>
          <button class="btn btn-outline-primary">Detalles</button>
          <button class="btn btn-outline-danger" v-on:click="deleteAuto(auto.id)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>