@{
  ViewData["Title"] = "Autos";
}

<h1>Autos en el sistema</h1>
<br />
<br />
<div id="testVue">
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>PRECIO</th>
        <th>MARCA</th>
        <th>MODELO</th>
        <th>FECHA DE ADQUISICION</th>
        <th>ACCIÓN</th>
      </tr>
    </thead>
    <tr v-show="editMode">
      <td></td>
      <td><input v-model="editAuto.precio" type="number" /></td>
      <td>
        <select v-model="editAuto.marca">
          <option v-for="marca in marcas" v-bind:value="marca.nombre"> {{ marca.nombre }}</option>
        </select>
      </td>
      <td>
        <select v-model="editAuto.modeloId">
          <option v-for="modelo in modelosFiltradosEdit()" v-bind:value="modelo.id">
            {{ modelo.nombre }}
          </option>
        </select>
      </td>
      <td><input type="date" v-model="editAuto.fecha"/></td>
      <td>
        <button class="btn btn-primary" v-on:click="editarAuto(editAuto)">Guardar</button>
        <button class="btn btn-secondary" v-on:click="toggleEditAuto()">Cancelar</button>
      </td>
    </tr>
    <tr v-show="!editMode">
      <td></td>
      <td><input v-model="newAuto.precio" type="number" /></td>
      <td>
        <select v-model="newAuto.marca">
          <option v-for="marca in marcas" v-bind:value="marca.nombre"> {{ marca.nombre }}</option>
        </select>
      </td>
      <td>
        <select v-model="newAuto.modeloId">
          <option v-for="modelo in modelosFiltrados()" v-bind:value="modelo.id">
            {{ modelo.nombre }}
          </option>
        </select>
      </td>
      <td><input type="date" v-model="newAuto.fecha"/></td>
      <td>
        <button class="btn btn-primary" v-on:click="agregarAuto(newAuto)">Agregar</button>
        <button class="btn btn-secondary" v-on:click="cancelarNuevo()">Cancelar</button>
      </td>
    </tr>
    <tbody v-for="auto in autos" v-show="!editMode">
      <tr>
        <td> {{ auto.id }}</td>
        <td> {{ auto.precio }}</td>
        <td> {{ auto.marca }}</td>
        <td> {{ auto.modelo }}</td>
        <td> {{ auto.fecha }}</td>
        <td>
          <button class="btn btn-outline-secondary" v-on:click="toggleEditAuto(auto)">Editar</button>
          <button class="btn btn-outline-primary" v-on:click="getAuto(auto.id)">Detalles</button>
          <button class="btn btn-outline-danger" v-on:click="deleteAuto(auto.id)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>