@{
    ViewData["Title"] = "Principal";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Esta aplicación web fue creada utilizando .NET Core, Entity Framework, y SQL Server Express.</p>
</div>
