@{
  ViewData["Title"] = "Marcas";
}

<h1>Marcas de autos en el sistema</h1>
<br />
<br />
<div id="testVue">
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>NOMBRE</th>
        <th>ACCIÓN</th>
      </tr>
    </thead>
    <tr>
      <td></td>
      <td><input /></td>
      <td>
        <button class="btn btn-primary">Agregar</button>
        <button class="btn btn-secondary">Cancelar</button>
      </td>
    </tr>
    <tbody v-for="marca in marcas">
      <tr>
        <td> {{ marca.id }} </td>
        <td> {{ marca.nombre }} </td>
        <td>
          <button class="btn btn-outline-secondary">Editar</button>
          <button class="btn btn-outline-primary">Detalles</button>
          <button class="btn btn-outline-danger">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
